<p>
  Register works
  <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" id="register-form" class="register-form" autocomplete="off">
    <label for="email">Email</label>
    <input id="email" #email formControlName="email" name="email" type="text" placeholder="Enter valid email" required/>
    <label for="username">Username</label>
    <input id="username" #username formControlName="username" name="username" type="text" placeholder="Enter username" required/>
    <label for="password">Password</label>
    <input id="password" #username formControlName="password" name="password" type="text" placeholder="Enter password" required/>
    <label for="re-password">Re-enter password</label>
    <input id="re-password" #re-password formControlName="rePassword" name="re-password" type="text" placeholder="Re-enter password" required/>
    <button type="submit" class="btn btn-success">Submit</button>
  </form> -->
</p>
